{% extends 'base.html' %}

{% block header_text %}Your To-Do List
<form method='POST' action="/lists/{{list.id}}/">
  <input id="id_rename_list"
  name="list_name"
  value="{{list.name}}"
  class="form-control input-lg"
  placeholder="List Name"
  />
  {% csrf_token %}
</form>
{% endblock %}
{% block form_action %}/lists/{{list.id}}/{% endblock %}

{% block table %}
  <form id= "edit_items" method = "POST" action = "/lists/{{list.id}}/items/">
    <table id="id_list_table" class="table table-bordered">
      {% for item in list.item_set.all %}
        <tr>
          <td>{{ forloop.counter }}.</td>
          <td>
            <input type = "checkbox"
            name = "mark_item_done"
            value = "{{ item.id }}"
            {% if item.is_done %}checked="checked"{% endif %}
           />
          </td>
          <td {% if item.is_done %} class="todo-done" {% endif %}>
            {{ item.text }}
          </td>
        </tr>
    {% endfor %}
    </table>
      <button
        id = "toggle_done"
        type = "submit"
        class = btn btn-primary
      >Toggle Done</button>
      {% csrf_token %}
  </form>
{% endblock %}
